body{
    background-color:  #e3c2f5b6;
}

.gallery-title {
    text-align: center; 
    font-size: 2.5rem;
    font-weight: bold;
    color: #000; 
    margin-top: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.684);
    transition: all ease-in-out 0.5s ;
}

.container img:hover{
    width:25%
}